SimpleLinearRegression/.ipynb_checkpoints/SimpleLinearRegressionExample-checkpoint.ipynb
MultipleLinearRegression/.ipynb_checkpoints/MultipleLinearRegressionExample-checkpoint.ipynb
PolynomialRegression/.ipynb_checkpoints/PolynomialRegressionExample-checkpoint.ipynb
SupportVectorRegression/.ipynb_checkpoints/SVR Example-checkpoint.ipynb
